# Global environment variables
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE (global settings)
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Old directories
*.old
frontend.old/